.c-drop-menu {
  position: absolute;
  display: none;
  top: 35px;
  min-width: 216px;
  text-align: left;
  padding: 20px 0 10px 25px;
  list-style: none;
  background-color: #fff;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  border-top:3px solid #D0021B;
  color: #000;
  font-weight: 500;
  &__item {
    margin-bottom: 13px;
  }
}