.c-detail-service {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 40px;
  &__column {
    width: 100%;
    &--left {
      max-width: 390px;
    }
    &--right {
      max-width: 750px;
    }
  }
  &__block {
    margin-bottom: 50px;
    &--news {
      display: inline-block;
      max-width: 347px;
      margin-left: 25px;
    }
    &--service {
      display: inline-block;
      vertical-align: top;

    }
  }
  &__subtitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}