.c-header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding-top: 20px;
  z-index: 2;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
