<div class="c-main-slider">
    <header class="c-header">
        <div class="c-header__wrapper l-wrapper">
            <img class="c-header__logo" src="img/logo.svg" alt="Логотип">
            <nav class="c-header__nav c-nav mob-hidden">
                <ul class="c-nav__list">
                    <li class="c-nav__item"><a class="c-nav__link">Дейтелинг</a></li>
                    <li class="c-nav__item ml-85">
                        <a class="c-nav__link c-nav__link--parent">Услуги</a><i class="fas fa-caret-down c-nav__caret col-red"></i>
                        <ul class="c-nav__drop-menu c-drop-menu c-drop-menu--top">
                            <li class="c-drop-menu__item c-drop-menu__item--active">Полировка</li>
                            <li class="c-drop-menu__item">Керамика</li>
                            <li class="c-drop-menu__item">Антигравийная пленка</li>
                            <li class="c-drop-menu__item">Химчистка</li>
                            <li class="c-drop-menu__item">Стайлинг</li>
                            <li class="c-drop-menu__item">Тонировка</li>
                        </ul>
                    </li>
                    <li class="c-nav__item ml-85"><a class="c-nav__link">Новости</a></li>
                    <li class="c-nav__item ml-85"><a class="c-nav__link">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="c-header__shadow"></div>
    <div class="c-main-slider__wrapper">
        <div class="c-main-slider__slide c-main-slider__slide--service c-slide" style="background-image: url('img/main_foto.jpg')">
            <div class="c-slide__wrapper c-slide__wrapper--detail l-wrapper">
                <h2 class="c-slide__title">Антигравийная пленка</h2>
                <p class="c-slide__text">Небольшой текстовый блок с описанием в несколько строчек</p>
                <a class="c-services__button js-show-form-popup" href="#"><span class="c-services__button-text">Записаться на услугу</span></a>
            </div>
        </div>

    </div>
</div>