<section class="c-works">
    <h3 class="page-title">Примеры работ по полировке</h3>
    <div class="c-works__wrapper">
        <div class="c-works__item c-work" style="background-image: url('img/w1.jpg')">
            <div class="c-work__wrapper">
                <h4 class="c-work__title">AUDI A5 COUPE 2012 ПРОБЕГ 105000 КМ.</h4>
                <p class="c-work__text">Выполненные работы:</p>
                <ul class="c-work__list">
                    <li>восстановительная полировка кузова;</li>
                    <li>защитное покрытие CANDY;</li>
                    <li>полная химчистка салона;</li>
                    <li>окрас суппортов без снятия;</li>
                    <li>антихром значков.</li>
                </ul>
                <p class="c-work__price">Чек 37 500 руб. (со скидкой 20%)</p>
            </div>
        </div>
        <div class="c-works__item c-work" style="background-image: url('img/w2.jpg')">
            <div class="c-work__wrapper ">
                <h4 class="c-work__title">AUDI A5 COUPE 2012 ПРОБЕГ 105000 КМ.</h4>
                <p class="c-work__text">Выполненные работы:</p>
                <ul class="c-work__list">
                    <li>восстановительная полировка кузова;</li>
                    <li>защитное покрытие CANDY;</li>
                    <li>полная химчистка салона;</li>
                    <li>окрас суппортов без снятия;</li>
                    <li>антихром значков.</li>
                </ul>
                <p class="c-work__price">Чек 37 500 руб. (со скидкой 20%)</p>
            </div>
        </div>
        <div class="c-works__item c-work" style="background-image: url('img/w3.jpg')">
            <div class="c-work__wrapper ">
                <h4 class="c-work__title">AUDI A5 COUPE 2012 ПРОБЕГ 105000 КМ.</h4>
                <p class="c-work__text">Выполненные работы:</p>
                <ul class="c-work__list">
                    <li>восстановительная полировка кузова;</li>
                    <li>защитное покрытие CANDY;</li>
                    <li>полная химчистка салона;</li>
                    <li>окрас суппортов без снятия;</li>
                    <li>антихром значков.</li>
                </ul>
                <p class="c-work__price">Чек 37 500 руб. (со скидкой 20%)</p>
            </div>
        </div>
        <div class="c-works__item c-work" style="background-image: url('img/w4.jpg')">
            <div class="c-work__wrapper ">
                <h4 class="c-work__title">AUDI A5 COUPE 2012 ПРОБЕГ 105000 КМ. </h4>
                <p class="c-work__text">Выполненные работы:</p>
                <ul class="c-work__list">
                    <li>восстановительная полировка кузова;</li>
                    <li>защитное покрытие CANDY;</li>
                    <li>полная химчистка салона;</li>
                    <li>окрас суппортов без снятия;</li>
                    <li>антихром значков.</li>
                </ul>
                <p class="c-work__price">Чек 37 500 руб. (со скидкой 20%)</p>
            </div>
        </div>
        <div class="c-works__item c-work" style="background-image: url('img/w5.jpg')">
            <div class="c-work__wrapper ">
                <h4 class="c-work__title">AUDI A5 COUPE 2012 ПРОБЕГ 105000 КМ.</h4>
                <p class="c-work__text">Выполненные работы:</p>
                <ul class="c-work__list">
                    <li>восстановительная полировка кузова;</li>
                    <li>защитное покрытие CANDY;</li>
                    <li>полная химчистка салона;</li>
                    <li>окрас суппортов без снятия;</li>
                    <li>антихром значков.</li>
                </ul>
                <p class="c-work__price">Чек 37 500 руб. (со скидкой 20%)</p>
            </div>
        </div>
        <div class="c-works__item c-work" style="background-image: url('img/w6.jpg')">
            <div class="c-work__wrapper ">
                <h4 class="c-work__title">AUDI A5 COUPE 2012 ПРОБЕГ 105000 КМ.</h4>
                <p class="c-work__text">Выполненные работы:</p>
                <ul class="c-work__list">
                    <li>восстановительная полировка кузова;</li>
                    <li>защитное покрытие CANDY;</li>
                    <li>полная химчистка салона;</li>
                    <li>окрас суппортов без снятия;</li>
                    <li>антихром значков.</li>
                </ul>
                <p class="c-work__price">Чек 37 500 руб. (со скидкой 20%)</p>
            </div>
        </div>
        <div class="c-works__item c-work" style="background-image: url('img/w7.jpg')">
            <div class="c-work__wrapper ">
                <h4 class="c-work__title">AUDI A5 COUPE 2012 ПРОБЕГ 105000 КМ.</h4>
                <p class="c-work__text">Выполненные работы:</p>
                <ul class="c-work__list">
                    <li>восстановительная полировка кузова;</li>
                    <li>защитное покрытие CANDY;</li>
                    <li>полная химчистка салона;</li>
                    <li>окрас суппортов без снятия;</li>
                    <li>антихром значков.</li>
                </ul>
                <p class="c-work__price">Чек 37 500 руб. (со скидкой 20%)</p>
            </div>
        </div>
        <div class="c-works__item c-work" style="background-image: url('img/w8.jpg')">
            <div class="c-work__wrapper ">
                <h4 class="c-work__title">AUDI A5 COUPE 2012 ПРОБЕГ 105000 КМ.</h4>
                <p class="c-work__text">Выполненные работы:</p>
                <ul class="c-work__list">
                    <li>восстановительная полировка кузова;</li>
                    <li>защитное покрытие CANDY;</li>
                    <li>полная химчистка салона;</li>
                    <li>окрас суппортов без снятия;</li>
                    <li>антихром значков.</li>
                </ul>
                <p class="c-work__price">Чек 37 500 руб. (со скидкой 20%)</p>
            </div>
        </div>
    </div>
</section>