<section class="c-choice" style="background-image: url('img/c_main.jpg')">
    <h3 class="page-title page-title--white">Почему нас выбирают</h3>
    <div class="c-choice__wrapper">
        <div class="c-choice__item" style="background-image: url('img/c1.png')">
            <p class="c-choice__text">Только лучшие материалы</p>
        </div>
        <div class="c-choice__item" style="background-image: url('img/c2.png')">
            <p class="c-choice__text">Большой опыт работы</p>
        </div>
        <div class="c-choice__item" style="background-image: url('img/c3.png')">
            <p class="c-choice__text">Желание стать лучшими</p>
        </div>
        <div class="c-choice__item" style="background-image: url('img/c4.png')">
            <p class="c-choice__text">Разумные цены</p>
        </div>
        <div class="c-choice__item" style="background-image: url('img/c5.png')">
            <p class="c-choice__text"> Положительные отзывы</p>
        </div>
        <div class="c-choice__item" style="background-image: url('img/c6.png')">
            <p class="c-choice__text">Прозрачность работы</p>
        </div>
    </div>
</section>