<header class="c-header">
    <div class="c-header__wrapper l-wrapper">
        <img class="c-header__logo" src="img/logo.svg" alt="Логотип">
        <nav class="c-header__nav c-nav mob-hidden">
            <ul class="c-nav__list">
                <li class="c-nav__item"><a class="c-nav__link">Дейтелинг</a></li>
                <li class="c-nav__item ml-85">
                    <a class="c-nav__link c-nav__link--parent">Услуги</a><i class="fas fa-caret-down c-nav__caret col-red"></i>
                    <ul class="c-nav__drop-menu c-drop-menu c-drop-menu--top">
                        <li class="c-drop-menu__item c-drop-menu__item--active">Полировка</li>
                        <li class="c-drop-menu__item"><a href="">Керамика</a></li>
                        <li class="c-drop-menu__item"><a href="">Тонировка</a></li>
                        <li class="c-drop-menu__item"><a href="">Химчистка</a></li>
                        <li class="c-drop-menu__item"><a href="">Стайлинг</a></li>
                        <li class="c-drop-menu__item"><a href="">Тонировка</a></li>
                    </ul>
                </li>
                <li class="c-nav__item ml-85"><a class="c-nav__link js-anchor" href="#c-news-anchor">Новости</a></li>
                <li class="c-nav__item ml-85"><a class="c-nav__link js-anchor" href="#c-map-anchor">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>