<div class="c-main-slider">
    <div class="c-header__shadow"></div>
    <div class="c-main-slider__wrapper swiper-container">
        <div class="c-main-slider__arrows c-slide-arrows l-wrapper">
            <div class="c-slide-arrows__wrapper">
                <span class="c-slide-arrows__arrow c-slide-arrows__arrow--left"></span>
                <span class="c-slide-arrows__arrow c-slide-arrows__arrow--right"></span>
            </div>
        </div>
        <div class="swiper-wrapper">
            <div class="c-main-slider__slide c-slide swiper-slide" style="background-image: url('img/main_foto.jpg')">
                <div class="c-slide__wrapper l-wrapper">
                    <h2 class="c-slide__title">Заголовок на видео</h2>
                    <p class="c-slide__text">Небольшой текстовый блок с описанием в несколько строчек</p>
                </div>
            </div>
            <div class="c-main-slider__slide c-slide swiper-slide" style="background-image: url('img/main_foto.jpg')">
                <div class="c-slide__wrapper l-wrapper">
                    <h2 class="c-slide__title">Заголовок на видео</h2>
                    <p class="c-slide__text">Небольшой текстовый блок с описанием в несколько строчек</p>
                </div>
            </div>
        </div>
        <div class="c-bullets">
            <ul class="c-bullets__wrapper">
            </ul>
        </div>
    </div>
</div>