<section class="c-map">
    <div class="c-map__container" id="map"></div>
    <div class="c-map__wrapper l-wrapper">
        <div class="c-map__form c-form">
            <h4 class="c-form__title">Обратная связь</h4>
            <input class="c-form__input" type="text" placeholder="Имя">
            <input class="c-form__input" type="text" placeholder="Телефон">
            <textarea class="c-form__input c-form__input--textarea" placeholder="Ваш комментарий"></textarea>
            <input class="c-services__button c-form__button" type="submit" value="Отправить">
        </div>
    </div>
</section>