<section id="c-news-anchor" class="c-news">
    <h3 class="page-title">Последние новости</h3>
    <div class="c-news__wrapper l-wrapper">
        <div class="c-news__item">
            <img class="c-news__image" src="img/n1.png" alt="">
            <span class="c-news__mark">10.10</span>
            <div class="c-news__description">
                <h3 class="c-news__title">В нашей мастерской появилась новая услуга</h3>
                <p class="c-news__text">Восстановительная полировка кузова; защитное покрытие CANDY; полная химчистка</p>
            </div>
        </div>
        <div class="c-news__item">
            <img class="c-news__image" src="img/n2.png" alt="">
            <span class="c-news__mark">10.10</span>
            <div class="c-news__description">
                <h3 class="c-news__title">В нашей мастерской появилась новая услуга</h3>
                <p class="c-news__text">Восстановительная полировка кузова; защитное покрытие CANDY; полная химчистка</p>
            </div>
        </div>
        <div class="c-news__item">
            <img class="c-news__image" src="img/n3.png" alt="">
            <span class="c-news__mark">10.10</span>
            <div class="c-news__description">
                <h3 class="c-news__title">В нашей мастерской появилась новая услуга</h3>
                <p class="c-news__text">Восстановительная полировка кузова; защитное покрытие CANDY; полная химчистка</p>
            </div>
        </div>
    </div>
    <span class="c-services__button"><span class="c-services__button-text">Показать еще</span></span>
</section>