<section class="c-services">
    <h3 class="page-title">Наши услуги</h3>
    <div class="l-section c-services__wrapper l-wrapper">
        <div class="c-services__item c-service">
            <img class="c-service__image" src="img/s1.png" alt="">
            <div class="c-service__wrapper c-service__wrapper--active">
                <h4 class="c-service__title">Полировка</h4>
                <p class="c-service__text">Небольшое текстовое описание в несколько строчек</p>
            </div>
        </div>
        <div class="c-services__item c-service">
            <img class="c-service__image" src="img/s2.png" alt="">
            <div class="c-service__wrapper">
                <h4 class="c-service__title">Керамика</h4>
                <p class="c-service__text">Небольшое текстовое описание в несколько строчек</p>
            </div>
        </div>
        <div class="c-services__item c-service">
            <img class="c-service__image" src="img/s3.png" alt="">
            <div class="c-service__wrapper">
                <h4 class="c-service__title">Антигравийная<br>пленка</h4>
                <p class="c-service__text">Небольшое текстовое описание в несколько строчек</p>
            </div>
        </div>
        <div class="c-services__item c-service">
            <img class="c-service__image" src="img/s4.png" alt="">
            <div class="c-service__wrapper">
                <h4 class="c-service__title">Химчистка</h4>
                <p class="c-service__text">Небольшое текстовое описание в несколько строчек</p>
            </div>
        </div>
        <div class="c-services__item c-service">
            <img class="c-service__image" src="img/s5.png" alt="">
            <div class="c-service__wrapper">
                <h4 class="c-service__title">Тонировка</h4>
                <p class="c-service__text">Небольшое текстовое описание в несколько строчек</p>
            </div>
        </div>
        <div class="c-services__item c-service">
            <img class="c-service__image" src="img/s6.png" alt="">
            <div class="c-service__wrapper">
                <h4 class="c-service__title">Стайлинг</h4>
                <p class="c-service__text">Небольшое текстовое описание в несколько строчек</p>
            </div>
        </div>
    </div>
    <a class="c-services__button" href="" download><span class="c-services__button-text">Посмотреть прайс</span><span class="c-services__button-icon"></span></a>
</section>