@mixin backImage($position, $size, $repeat) {
	background-position: $position;
	background-size: $size;
	background-repeat: $repeat;
}
@mixin border($borderTop, $borderRight, $borderBottom, $borderLeft) {
	border-top: $borderTop;
	border-left: $borderLeft;
	border-right: $borderRight;
	border-bottom: $borderBottom;
}
@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}
[type='checkbox'], [type='file'] {
	display: none;
}
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	min-height: 100%;
	font-size: 100%;
}
body {
	margin: 0;
	font-family: 'Exo 2.0';

}
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
a {
	text-decoration: none;
	color: inherit;
	transition: all ease-out .2s;
	&:hover, &:active {
		text-decoration: none;
	}
}
.m-l-85 {
	margin-left: 85px;
}
.m-l-65 {
	margin-left: 65px;
}
.m-l-30 {
	margin-left: 30px;
}
.m-l-20 {
	margin-left: 20px;
}
.m-l-15 {
	margin-left: 15px;
}
.m-l-5 {
	margin-left: 5px;
}
.m-t-10 {
	margin-top: 10px;
}
.m-t-15 {
	margin-top: 15px;
}
.t-bold {
	font-weight: bold;
}
.icon-middle {
	display: inline-block;
	vertical-align: middle;
}
button {
	cursor: pointer;
}
.l-container {
	display: inline-block;
	vertical-align: top;
}
.col-red {
	color: #D0021B;
}
.page-title {
	display: inline-block;
	font-size: 42px;
	line-height: 49px;
	color: #000000;
	font-style: italic;
	padding-top: 50px;
	position: relative;
	&--white {
		color: #FFFFFF;
	}
	&::after {
		content: '';
		display: block;
		width: 90px;
		height: 3px;
		left: 0;
		right: 0;
		margin: 25px auto 0 auto;
		background-color: #D0021B;
	}

}
[class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 3.5+ */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+ & Safari 6+ */
}