.c-nav {
  font-size: 1.125rem;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  &__item {
    position: relative;
    cursor: pointer;
    padding:20px 0;
    &:hover{
      color: #d0021b;
      .c-nav__caret:before{
        content: "\f0d8";
      }
      .c-nav__drop-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__caret {
    margin-left: 8px;
  }
}