.c-map {
  max-width: 1920px;
  margin: 70px auto 0 auto;
  position: relative;
  &__container {
    height: 440px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
    pointer-events: none;
  }
}